<header>
  <h1>Sportsbook</h1>
</header>

<div class="wrapper">

  <%= simple_form_for @betslip do |f| %>
    <!--  sportsbook -->
    <article class="content">
      <header>
        <h2>Sportsbook</h2>
      </header>
      <section class="element">
        <h2>Please choose from the available matches:</h2>
        <hr>
        <table>
          <thead>
            <tr>
              <th>match</th>
              <th>home</th>
              <th>draw</th>
              <th>away</th>
            </tr>
          </thead>
          <% @by_league_time.each do |league, matches| %>
            <tbody>
              <tr>
                <th><%= league %></th>
              </tr>
              <% matches.each do |match| %>
                <tr>
                  <td><%= match.name %></td>
                  <td class="center"><%= link_to_add_association match.oddwinh, f, :games %></td>
                  <td class="center"><%= link_to_add_association match.oddwind, f, :games %></td>
                  <td class="center"><%= link_to_add_association match.oddwina, f, :games %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </section>
    </article>
 
    <!--  betslip -->
    <article class="content">
      <header>
        <h2>Your betslip</h2>
      </header>
      <section class="element">
        <h2>bellow is your betslip data:</h2>
        <hr>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>selections</th>
              <th>Stake</th>
              <th>Odds</th>
              <th>Winnings</th>
            </tr>
          </thead>
          <div id='games'>
            <tbody>
              <%= f.simple_fields_for :games do |game| %>
              <% end %>
            </tbody>
          </div>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td class="center"></td>
              <td class="center"></td>
              <td class="center"></td>
          </tfoot>
        </table>
      </section>
    </article>
  <% end %>
</div>
