<header>
  <h1>Sportsbook</h1>
</header>

<div class="wrapper">

  <%= simple_form_for @betslip do |f| %>
    <%= f.input :winnings, as: :hidden, input_html: { class: 'betslip-winnings' } %>
    <!--  sportsbook -->
    <article class="content">
      <header>
        <h2>Sportsbook</h2>
      </header>
      <section class="element">
        <h2>Please choose from the available matches:</h2>
        <hr>
        <table>
          <thead>
            <tr>
              <th>match</th>
              <th>home</th>
              <th>draw</th>
              <th>away</th>
            </tr>
          </thead>
          <% @by_league_time.each do |league, matches| %>
            <tbody>
              <tr>
                <th><%= league %></th>
              </tr>
              <% matches.each do |match| %>
                <tr class='match'>
                  <td class="match-name"><%= match.name %></td>
                  <td class="center"><%= link_to match.oddwinh, '#', class: 'make-bet', data: { id: match.id, home: match.hometeam } %></td>
                  <td class="center"><%= link_to match.oddwind, '#', class: 'make-bet', data: { id: match.id } %></td>
                  <td class="center"><%= link_to match.oddwina, '#', class: 'make-bet', data: { id: match.id, away: match.awayteam } %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </section>
    </article>
 
    <!--  betslip -->
    <article class="content">
      <header>
        <h2>Your betslip</h2>
      </header>
      <section class="element">
        <h2>bellow is your betslip data:</h2>
        <hr>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>selections</th>
              <th>Stake</th>
              <th>Odds</th>
              <th>Winnings</th>
            </tr>
          </thead>
            <tbody class='games-container'>
              <tr class='hidden'>
                <td>
                  <%= link_to_add_association 'link', f, :games, class: 'add-new-game' %>
                </td>
                </tr>
            </tbody>
            <tfoot class='betslip-summary'>
              <tr>
                <td></td>
                <td></td>
                <td class="center stake"></td>
                <td class="center odds"></td>
                <td class="center winnings"></td>
              </tr>
            </tfoot>
        </table>
      </section>
    </article>
    <%= f.button :submit, class: 'create-betslip hidden' %>
  <% end %>
</div>
